/*--------------------------------------
    Global Helpers
----------------------------------------*/

/*section:not(:first-child){
    margin-top:80px;
}*/


.container > h2 {
    padding: 60px 0 40px 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
}

.waves-effect.waves-blue .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: rgba(25, 118, 210, 0.80);
    }


/*--------------------------------------
    Intro
----------------------------------------*/

#intro {
    background:white;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    padding: 0;
}

#intro:before {
    content: "";
    background-color: rgba(51, 122, 183, 1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.intro-text-container {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #337ab7;
    line-height: 1.4285;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}

.intro-text-container h4 {
    color:#fff;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing:0.05em;
    line-height: 0.9em;
    margin:0;
    width: 100%;
}

.intro-text-container h1 {
    font-weight: 600;
    width: 100%;
}


@media only screen and (max-width: 600px) {
    #intro:before {
        content: "";
        background-color: rgba(51, 122, 183, 1);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .intro-text-container {
        position: absolute;
        top: 45%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        z-index: 10;
        background-color: #337ab7;
        line-height: 1.4285;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
    }
}
.social-icons li {
    display: inline-block;
    padding: 1px;
}

.social-icons a i {
    font-size: 1.5rem;
}

@media only screen and (max-width: 900px)
{
    .social-icons li {
        display: inline-block;
        padding: 1px;
    }
    
    .social-icons a i {
        font-size: 1.5rem;
    }
}

.btn-rounded-white {
    display: inline-block;
    color: #fff;
    padding: 15px 25px;
    border: 3px solid #fff;
    border-radius: 30px;
}

.btn-rounded-white:hover {
    background-color: #024e9b;
    text-decoration:none
}

/* Mouse icon in Intro area */
.mouse-icon {
    position: absolute;
    left: 95%;
    bottom: 5%;
    border: 2px solid rgba(255, 255, 255, 0.87);
    border-radius: 16px;
    height: 50px;
    width: 30px;
    margin-left: -17px;
    display: block;
    z-index: 10;
}

.mouse-icon .mouse-wheel {
    position: relative;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.87);
    width: 4px;
    height: 10px;
    top: 8px;
    margin-left: auto;
    margin-right: auto;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.progress-container {
width: 100%;
height: 6px;
background: #ccc;
}

.progress-bar {
height: 6px;
background: #3498db;
width: 0%;
}

/* Scroll Right */
.scroll-right {
height: 50px;	
overflow: hidden;
position: relative;
background: white;
color: rgba(51, 122, 183, 1);;
border: 1px solid rgba(51, 122, 183, 1);;
}
.scroll-right p {
position: absolute;
width: 100%;
height: 100%;
margin: 0;
line-height: 50px;
text-align: center;
/* Starting position */
-moz-transform:translateX(-100%);
-webkit-transform:translateX(-100%);	
transform:translateX(-100%);
/* Apply animation to this element */	
-moz-animation: scroll-right 15s linear infinite;
-webkit-animation: scroll-right 15s linear infinite;
animation: scroll-right 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-right {
    0%   { -moz-transform: translateX(-100%); }
    100% { -moz-transform: translateX(100%); }
}
@-webkit-keyframes scroll-right {
    0%   { -webkit-transform: translateX(-100%); }
    100% { -webkit-transform: translateX(100%); }
}
@keyframes scroll-right {
    0%   
    { 
        -moz-transform: translateX(-100%); /* Browser bug fix */
        -webkit-transform: translateX(-100%); /* Browser bug fix */
        transform: translateX(-100%); 		
    }
    100% 
    { 
        -moz-transform: translateX(100%); /* Browser bug fix */
        -webkit-transform: translateX(100%); /* Browser bug fix */
        transform: translateX(100%); 
    }
}

.badge-circle 
{
    border-radius: 50%; 
    margin-right: 2%;
    max-height: 6rem;
}
.badge-circle-text-container {
    text-align: center;
    padding-top: 10px;
    width: 100%;
    padding-left: 2%;
    line-height: 8rem;
}

@media only screen and (max-width: 600px) {
    .badge-circle 
    {
        border-radius: 50%; 
        margin-right: 2%;
        max-height: 4rem;
    }
    .badge-circle-text-container {
        padding-top: 10px;
        width: 100%;
        padding-left: 2%;
        line-height: 8rem;
    }   
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .badge-circle 
    {
        border-radius: 50%; 
        margin-right: 2%;
        max-height: 6rem;
    }
    .badge-circle-text-container {
        text-align: center;
        padding-top: 10px;
        width: 100%;
        padding-left: 2%;
        line-height: 8rem;
    }   
}
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    .badge-circle 
    {
        border-radius: 50%; 
        margin-right: 4%;
        max-height: 8rem;
    }
    .badge-circle-text-container {
        text-align: center;
        padding-top: 40px;
        width: 100%;
        padding-left: 2%;
        line-height: 8rem;
    }   
}

/*--------------------------------------
    Typed JS Cursor blink animation
----------------------------------------*/
.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/*--------------------------------------
    Navigation
----------------------------------------*/

nav{
    z-index:1000;
}

nav li.current a{
    background-color:rgba(176, 207, 237, 1);
}

/*--------------------------------------
    About Me
----------------------------------------*/

#about-me img.circle {
    margin-top: -150px;
}

#about-me .card-panel {
    margin-top: 160px;
}

    #about-me .card-panel ul > li {
        width: 50%;
        float: left;
    }

.card-panel h4 {
    text-transform: uppercase;
    margin-top: 50px;
    text-align: center;
}

/*--------------------------------------
    Skills
----------------------------------------*/

.skills-panel {
    margin: 10px 40px;
}

    .skills-panel .progress {
        margin-bottom: 40px;
    }

    .skills-panel p {
        font-size: 1.1rem;
    }

#skills .chip {
    font-size: 1.1rem;
    margin: 10px;
}

/*--------------------------------------
    Work Experience (Timeline)
----------------------------------------*/

.timeline, .timeline li {
    position: relative;
}

.timeline .timeline-icon {
    position: relative;
    color: #ffffff;
    left: 47.9%;
    margin-left: -6px;
    height: 55px;
    width: 55px;
    background-color: #1976D2;
    background:#1976D2;
    border-radius: 50%;
    z-index: 99;
    /*background-color: #424242;
    z-index: 50;*/
}

.timeline ul:before {
    content: '';
    position: absolute;
    background-color: #ffffff;
    height: 100%;
    width: 2px;
    left: 50%;
    z-index: 0;
}

.row div.timeline-content {
    padding: 20px;
    background-color:rgba(51, 122, 183, 1);
    position: relative;
    z-index: 100;
}

.timeline-content p {
    padding-top: 10px;
    font-size: 0.9rem;
}

.timeline-content .divider {
    opacity: 0.4;
}

.timeline span {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    bottom: 0;
    left: 47px;
    line-height: 38px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 0;
    
    /* CSS3 Transition: */
	-webkit-transition: 0.50s;
	/* Future proofing (these do not work yet): */
	-moz-transition: 0.50s;
    transition: 0.50s;  
}
.timeline h3:hover span
{ 
    width:auto; 
    padding:0 30px;
    overflow:visible;
    text-decoration:none; 
}

.timeline h3 span{
	color:#ffffff;
}

@media only screen and (max-width: 600px) {
    .timeline .timeline-icon {
        color: #ffffff;
        position: relative;
        left: 3%;
        margin-left: -6px;
        height: 55px;
        width: 55px;
        background-color: #ffffff;
        border-radius: 50%;
        z-index: 99;
        /*background-color: #424242;
        z-index: 50;*/
    }

    .timeline ul li:nth-child(odd) div.timeline-content {
        float: right;
    }

        .timeline ul li:nth-child(odd) div.timeline-content:before {
            content: "";
            position: absolute;
            top: 20px;
            left: -20px;
            border-top: 16px solid transparent;
            border-bottom: 16px solid transparent;
            border-right: 20px solid #ffffff;
        }

    .timeline ul li:nth-child(even) div.timeline-content {
        float: right;
    }

    .timeline ul li:nth-child(even) div.timeline-content:before {
        content: "";
        position: absolute;
        top: 20px;
        left: -20px;
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        border-right: 20px solid #ffffff;
    }

    .timeline ul:before {
        content: '';
        position: absolute;
        background-color: #ffffff;
        height: 100%;
        width: 2px;
        left: 6%;
        z-index: 0;
    }
}

@media (min-width: 1081px) {
    .timeline .timeline-icon {
        position: relative;
        color: #337ab7 ;
        left: 47.9%;
        /* margin-left: -8px; */
        height: 60px;
        width: 60px;
        background-color: #ffffff;
        border-radius: 50%;
        z-index: 99;
    }

    .timeline ul li:nth-child(odd) div.timeline-content {
        float: right;
    }

        .timeline ul li:nth-child(odd) div.timeline-content:before {
            content: "";
            position: absolute;
            top: 20px;
            left: -20px;
            border-top: 16px solid transparent;
            border-bottom: 16px solid transparent;
            border-right: 20px solid #ffffff;
        }

    .timeline ul li:nth-child(even) div.timeline-content {
        float: left;
    }

    .timeline ul li:nth-child(even) div.timeline-content:before {
        content: "";
        position: absolute;
        top: 20px;
        right: -20px;
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        border-left: 20px solid #ffffff;
    }
    .timeline ul:before {
        content: '';
        position: absolute;
        background-color: #ffffff;
        height: 100%;
        width: 2px;
        left: 50%;
        z-index: 0;
    }
    
}

/*--------------------------------------
    Projects
----------------------------------------*/

#projects-filter {
    width: 100%;
    padding-bottom: 30px;
}

    #projects-filter ul {
        text-align: center;
        text-transform: uppercase;
    }

        #projects-filter ul li {
            display: inline;
            cursor: pointer;
            margin: 10px;
            padding-bottom: 6px;
        }

            #projects-filter ul li:hover {
                border-bottom: 1px solid rgba(255, 255, 255, 0.87);
            }

#projects-container .mix {
    display: none;
    margin: 0;
}

/*--------------------------------------
    Certifications
----------------------------------------*/

#certifications .carousel-item{
    color:rgba(255, 255, 255, 0.87);
    text-align:center;
    width:250px;
    height:250px;
    background-color: white;
    padding: 30px 10px;
}

#certifications .carousel-item:hover{    
    background-color: rgba(25, 118, 210, 1);
}

.carousel-item .divider {
    opacity: 0.4;
}


/*--------------------------------------
    Footer
----------------------------------------*/

footer.page-footer 
{
    margin-top: 10px;
}

.top{
    text-align:center
    }
.top span
{
    cursor:pointer;
    display:block;
    margin:15px auto 0 auto;
    width:35px;height:35px;
    border-radius:50%;
    border:3px solid white;
    text-align:center
}
.top i
{
    color:white
}

.social{text-align:right}
.social ul{margin:5px 0 0 0;padding:0}
.social li{display:inline-block;font-size:1.25em;list-style:none}
.social a{display:block;color:#74808a;padding:10px}
.social a:hover{color:#3498db}

/*--------------------------------------
    Responsive overrides for Small Screens
----------------------------------------*/
@media (max-width : 766px) {
    #about-me .card-panel ul > li {
        width: 100%;
    }
}


/*--------------------------------------
    Word Cloud
----------------------------------------*/
#myChart {
	height:100%;
	width:100%;
    min-height:150px;
    max-height: 300px;
}
.zc-ref {
	display:none;
}

/*--------------------------------------
    Education Timeline
----------------------------------------*/

.timeline-edu, .timeline-edu li {
    position: relative;
}

.timeline-edu .timeline-edu-icon {
    position: relative;
    color: #337ab7 ;
    left: 18.5%;
    /* margin-left: -8px; */
    height: 60px;
    width: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: 99;
}

.timeline-edu ul:before {
    content: '';
    position: absolute;
    background-color: #ffffff;
    height: 100%;
    width: 2px;
    left: 20%;
    z-index: 0;
}

.row div.timeline-edu-content {
    padding: 20px;
    background-color:rgba(51, 122, 183, 1);
    position: relative;
    z-index: 100;
    width: 60%;
    left: 20%;
}

.timeline-edu-content p {
    padding-top: 10px;
    font-size: 0.9rem;
}

.timeline-edu-content .divider {
    opacity: 0.4;
}

.timeline-edu span {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    bottom: 0;
    left: 47px;
    line-height: 38px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 0;
    
    /* CSS3 Transition: */
	-webkit-transition: 0.50s;
	/* Future proofing (these do not work yet): */
	-moz-transition: 0.50s;
    transition: 0.50s;  
}

.timeline-edu h3:hover span
{ 
    width:auto; 
    padding:0 30px;
    overflow:visible;
    text-decoration:none; 
}

.timeline-edu h3 span{
	color:#ffffff;
}

.timeline-edu ul li:nth-child(odd) div.timeline-edu-content {
    text-align: left;
    left: 24%
}

.timeline-edu ul li:nth-child(odd) div.timeline-edu-content:before {
    content: "";
    position: absolute;
    top: 20px;
    right: 100%;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 20px solid #ffffff;
}

.timeline-edu ul li:nth-child(even) div.timeline-edu-content {
    left: 24%;
    text-align: left;
}

.timeline-edu ul li:nth-child(even) div.timeline-edu-content:before {
    content: "";
    position: absolute;
    top: 20px;
    left: -20px;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 20px solid #ffffff;
}

@media only screen and (max-width: 600px) {
    .timeline-edu .timeline-edu-icon {
        position: relative;
        color: #337ab7 ;
        left: 3%;
        /* margin-left: -8px; */
        height: 60px;
        width: 60px;
        background-color: #ffffff;
        border-radius: 50%;
        z-index: 99;
    }

    .timeline-edu ul li:nth-child(odd) div.timeline-edu-content {
        text-align: left;
        left: 14%
    }

    .timeline-edu ul li:nth-child(odd) div.timeline-edu-content:before {
        content: "";
        position: absolute;
        top: 20px;
        right: 100%;
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        border-right: 20px solid #ffffff;
    }

    .timeline-edu ul li:nth-child(even) div.timeline-edu-content {
        left: 14%;
        text-align: left;
    }

    .timeline-edu ul li:nth-child(even) div.timeline-edu-content:before {
        content: "";
        position: absolute;
        top: 20px;
        left: -20px;
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        border-right: 20px solid #ffffff;
    }

    .timeline-edu ul:before {
        content: '';
        position: absolute;
        background-color: #ffffff;
        height: 100%;
        width: 2px;
        left: 6%;
        z-index: 0;
    }
    
}

/*--------------------------------------
    Contact Me
----------------------------------------*/

.social-contactme-icons li {
    display: inline-block;
    padding: 14px;
}

.social-contactme-icons a i {
    font-size: 2rem;
}
